@font-face {
    font-family:'campton';
    src: url("./DriveBook.ttf");
}


@font-face {
    font-family:'DriveExtraBold';
    src: url("./DriveExtrabold.ttf");
}

@font-face {
    font-family:'Comfortaa-Bold';
    src: url("./Comfortaa-Bold.ttf");
}

@font-face {
    font-family:'GothamRndBold';
    src: url("./GothamRndBold.otf");
}


@font-face {
    font-family:'GothamRndMedium';
    src: url("./GothamRndMedium.otf");
}

